@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400&family=Roboto:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #F0F1F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
a,
li {
    line-height: 24px;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 3rem;
    height: 100vh;
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
}